#box {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}
#logIn {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}
